<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
      form {
        align-items: center;
        display: block;
        margin-top: 15%;
        border: solid rgba(107, 107, 107, 0.432) 1px;
        width: 300px;
        height: 400px;
        border-radius: 15px;
        box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
        background-color: #245282;
      }
      form > label {
        margin-top: 20px;
        display: block;
        margin-left: 10px;
      }
      form > input {
        margin-top: 5px;
        background-color: #99738e;
        border-radius: 5px;
        border: 0px;
        width: 250px;
      }
      #Submit-btn {
        background-color: #f64c72;
        border: 0px;
        margin-top: 25px;
        height: 30px;
        width: 75px;
        border-radius: 10px;
        box-shadow: #EEEEEE;
      }
      body {
        background-color: #2f2fa2;
      }
    </style>
  </head>
  <body>
    <center>
      <form 
        action="/createRecord" 
        enctype="application/x-www-form-urlencoded" 
        method="post">
        <label for="FirstName">First Name</label>
        <input
          type="text"
          id="FirstName"
          name="FirstName"><br>
        <label for="LastName">Last Name</label>
        <input
          type="text"
          id="LastName"
          name="LastName"><br>
        <label for="Email">Email</label>
        <input
          type="text"
          id="Email"
          name="Email"><br>
        <label for="Phone">Phone</label>
        <input
          type="text"
          id="Phone"
          name="Phone"><br>
        <label for="x"></label>
        <input
          id = "Submit-btn" 
          type="submit" 
          value="Create"><br>
        <input
          type="button"
          value="Cancel"
          onclick="location.href='/Home'"
          id="Submit-btn">
        <h5>
          {{error}}
        </h5><br>
      </form>
    </center>
  </body>
</html>